In [2]:
import numpy as np 
import pandas as pd

#Question #1 
pd.__version__

In [15]:
data = pd.read_csv('C:/Users/tonyn/Downloads/raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')
df = pd.DataFrame(data)

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [26]:
#Question #2 
len(df.columns) 
print("The Answer to Question #2 is:", len(df.columns))

The Answer to Question #2 is: 10

In [40]:
#Question #3
df.isnull().any()
print("The Answer to Question #3 is: total_bedrooms")

The Answer to Question #3 is: total_bedrooms

In [44]:
#Question #4 
df.ocean_proximity.nunique()
print("The Answer to Question #4 is:", df.ocean_proximity.nunique())

The Answer to Question #4 is: 5

In [76]:
#Question #5 
near_bay = df.loc[:,'ocean_proximity'] == "NEAR BAY"
df2 = df[df.loc[:,'ocean_proximity'] == "NEAR BAY"]
df2['median_house_value'].mean()

print("The Answer to Question #5 is:", df2['median_house_value'].mean())

The Answer to Question #5 is: 259212.31179039303

In [124]:
#Question #6 
replace_val = df['total_bedrooms'].mean() #with NA
df3 = df.fillna(value= replace_val)
df3['total_bedrooms'].mean() #without NA

print(replace_val)
print(df3['total_bedrooms'].mean())

print("The Answer to Question #6 is: No")

537.8705525375618
537.8705525375617

In [183]:
#Question #7 
q7 = df.loc[df['ocean_proximity'] == 'ISLAND']
X = q7.loc[:,['housing_median_age', 'total_rooms', 'total_bedrooms']].values
XTX = np.matmul(X.T,X)
inv_XTX = np.linalg.inv(XTX)
y = [950, 1300, 800, 1000, 1300] 

mult1 = np.matmul(inv_XTX,X.T) 
w = np.matmul(mult1,y)
w[-1]



print("The Answer to Question #7 is:", w[-1])

The Answer to Question #7 is: 5.699229455065575